[Desktop Entry]
Categories=Application;
Comment=实时获取地球照片作为壁纸
Exec=/opt/earth_wallpaper/earth_wallpaper
Icon=/opt/earth_wallpaper/icon.png
GenericName=Earth-Wallpaper
Keywords=earth
Name=Earth Wallpaper
StartupNotify=false
Terminal=false
Type=Application