[Desktop Entry]
Categories=Application;Network;
Comment=实时获取地球照片作为壁纸
Exec=/opt/apps/cn.huguoyang.earthwallpaper/files/bin/earth-wallpaper
Icon=earth
GenericName=earth-wallpaper
Keywords=earth
Name=earth-wallpaper
StartupNotify=false
Terminal=false
Type=Application