[Desktop Entry]
Categories=Application;Network;
Comment=实时获取地球照片作为壁纸
Exec=/opt/earth-wallpaper-nightly/earth-wallpaper
Icon=/opt/earth-wallpaper-nightly/earth-wallpaper.png
GenericName=earth-wallpaper
Keywords=earth
Name=earth-wallpaper
StartupNotify=false
Terminal=false
Type=Application